@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		scroll-behavior: smooth;
	}

	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #121212;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #555;
		border-radius: 8px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #888;
	}



	body {
		@apply bg-[#050505] text-white;
	}

}